body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .main-content, .login-content {
    height: 100%;
    width: 100%;
  }
  
  .main-content {
    display: flex;
  }
  
  .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }